<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Todo List</h1>
      <div class="todo-input">
        <input type="text" placeholder="What do you need to do?" class="js-todoinput">
        <input type="date" class="js-due-date-input">
        <button onclick="addTodo()">Add</button>
      </div>
      <div class="js-todo-list"></div>
    </div>
    <script src="/static/app.js"></script>
  </body>
</html>
